{% extends 'layout/base.html' %}
{% block title %} Lễ Tân {% endblock %}
{% block content %}
<h1 class="header-text text-white text-center padding">Danh sách phiếu thuê</h1>
      <div class="roms">
        {% for b in BookingForm %}
        <div class="rom">
          <div class="rom-img">
            <a href="{{ url_for('BookingForm_detail', id = b.id) }}"><img src="./static/images/p1.jpg"></a>
          </div>
          <div class="rom-text">
            <p>Mã Phiếu Thuê: {{ b.id }}</p>
            <p>Khách Hàng: {{ b.Customer_name1 }}</p>
            <p>Phòng Thuê: {{ b.Room_name }}</p>
          </div>
        </div>
        {% endfor %}
      </div>

{% endblock %}
